<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baidu.mapper.UserMapper">
	<select id="findAll" resultType="student">
		select s.*,e.name,e.sex,e.address,e.idNo from salarydetail s
		left JOIN emp e on s.eid = e.id
	</select>
	
	<select id="findByName" resultType="student">
		select s.*,e.name,e.sex,e.address,e.idNo from salarydetail s
		left JOIN emp e on s.eid = e.id 
		<where>
			<if test="name != null">
				name like concat('%',#{name},'%')
			</if>
		</where>
	</select>
	
	<select id="findByTime" resultType="student">
		select s.*,e.name,e.sex,e.address,e.idNo from salarydetail s
		left JOIN emp e on s.eid = e.id 
		<where>
			<if test="beg != null">
				pay_date &gt; 1998-04-01
			</if>
			<if test="small != null">
				and pay_date &lt; 2002-01-01
			</if>
		</where>
	</select>
	<select id="findPriceAndAge" resultType="price">
		select count(s.id) as count,e.name from salarydetail s
		left JOIN emp e on s.eid = e.id GROUP BY eid
	</select>
	
	<select id="findByNameAndAVg" resultType="averprice">
		select AVG(base_pay) as averger,e.name,count(s.eid) as base_pay from salarydetail s
		left join emp e on s.eid = e.id
		GROUP BY name
	</select>
	
	<select id="findByPrivaceAverage" resultType="averprice">
		select AVG(base_pay) as averger,e.name,count(s.eid) as base_pay from salarydetail s
		left join emp e on s.eid = e.id
		where base_pay > 10000
		GROUP BY name
	</select>
	
	<delete id="deleteByEmpMes">
		delete from salarydetail  where eid = #{id}
		delete from emp where id = #{id}
	</delete>
	
	<update id="changByemp">
		UPDATE emp set name =#{name},sex=#{sex},address=#{address},idNo=#{idNo} where id = #{id}
	</update>
	
	<update id="changPrivateTO">
		UPDATE salarydetail set base_pay = 0 where id = #{id}
	</update>
	
	<select id="BestPerson" resultType="averprice">
		select AVG(base_pay) as averger,e.name,count(s.eid) as base_pay from salarydetail s
		left join emp e on s.eid = e.id
		GROUP BY name
	</select>
</mapper>